extends layout

block content
    link(href='/css/extends/starter-template.css', rel='stylesheet')
    body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .row
        .col-sm-6
          .col-sm-1
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index') Database-Project
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Site
              li
                a(href='about') About
        .col-sm-4
        .col-sm-2
          .col-sm-2
          .col-sm-10
            .collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='#') #{user_val}
    .container
      br
      br
      .row
        .col-sm-2
          nav.navbar.navbar-default.sidebar(role='navigation')
            .container-fluid
              ul.nav.navbar-nav
                li
                  a(href='index_staff')
                    | Home &nbsp; 
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home(style='font-size:16px;')
                li
                  a(href='profile_staff')
                    | Profile &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-user(style='font-size:16px;')
                li      
                  a(href='report_staff')
                    | Report &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-stats(style='font-size:16px;')
                li
                  a(href='#')
                    font(class="text-primary") | Search &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-search(style='font-size:16px;' class="text-primary")
                li      
                  a(href='edit_record')  
                    | Edit Record &nbsp; 
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-wrench(style='font-size:16px;')
                li
                  a(href='/logout')
                    | Logout &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-log-out(style='font-size:16px;')
        .col-sm-10
          .container-fluid
            h1 Search &nbsp; &nbsp;
            br
            br
            | You can search a basic information here.
            br
            br
            br
            br
            #accordion.panel-group
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
                      | Student Database
                #collapse1.panel-collapse.collapse
                  .panel-body
                    form(method='post' action='/search_info_s')
                      .row
                        .col-sm-1
                        .col-sm-3
                          h4 Student ID
                          input.form-control(type='text' name='input_sid' placeholder='10 digits')
                        .col-sm-3
                          h4 First Name
                          input.form-control(type='text' name='input_fname' placeholder='Case-insensitive')
                        .col-sm-3
                          h4 Last Name
                          input.form-control(type='text' name='input_sname' placeholder='Case-insensitive')
                        .col-sm-1
                          h4 Year
                          input.form-control(type='text' name='input_year' placeholder='All')
                      .row
                        .col-sm-1
                        .col-sm-3
                          h4 Citizen ID
                          input.form-control(type='text' name='input_ssn' placeholder='13 digits')
                        .col-sm-3
                          h4 E-mail
                          input.form-control(type='text' name='input_email' placeholder='Case-insensitive')
                        .col-sm-4
                          h4 Phone Number
                          .row
                            .col-sm-9
                              input.form-control(type='text' name='input_tel' placeholder='9-10 digits')
                            .col-sm-3
                              button.btn.btn-md.btn-warning(type='submit') Search
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse2')
                      | Professor Database
                #collapse2.panel-collapse.collapse
                  .panel-body
                    form(method='post' action='/search_info_p')
                      .row
                        .col-sm-1
                        .col-sm-3
                          h4 Abbreviation
                          input.form-control(type='text' name='input_pab' placeholder='3 characters')
                        .col-sm-3
                          h4 First Name
                          input.form-control(type='text' name='input_fname' placeholder='Case-insensitive')
                        .col-sm-3
                          h4 Last Name
                          input.form-control(type='text' name='input_sname' placeholder='Case-insensitive')
                      .row
                        .col-sm-1
                        .col-sm-3
                          h4 Citizen ID
                          input.form-control(type='text' name='input_ssn' placeholder='13 digits')
                        .col-sm-3
                          h4 E-mail
                          input.form-control(type='text' name='input_email' placeholder='Case-insensitive')
                        .col-sm-4
                          h4 Phone Number
                          .row
                            .col-sm-9
                              input.form-control(type='text' name='input_tel' placeholder='9-10 digits')
                            .col-sm-3
                              button.btn.btn-md.btn-warning(type='submit') Search
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse3')
                      | Staff Database
                #collapse3.panel-collapse.collapse
                  .panel-body
                    form(method='post' action='/search_info_f')
                      .row
                        .col-sm-1
                        .col-sm-3
                          h4 Role
                          input.form-control(type='text' name='input_role' placeholder='Case-insensitive')
                        .col-sm-3
                          h4 First Name
                          input.form-control(type='text' name='input_fname' placeholder='Case-insensitive')
                        .col-sm-3
                          h4 Last Name
                          input.form-control(type='text' name='input_sname' placeholder='Case-insensitive')
                      .row
                        .col-sm-1
                        .col-sm-3
                          h4 Citizen ID
                          input.form-control(type='text' name='input_ssn' placeholder='13 digits')
                        .col-sm-3
                          h4 E-mail
                          input.form-control(type='text' name='input_email' placeholder='Case-insensitive')
                        .col-sm-4
                          h4 Phone Number
                          .row
                            .col-sm-9
                              input.form-control(type='text' name='input_tel' placeholder='9-10 digits')
                            .col-sm-3
                              button.btn.btn-md.btn-warning(type='submit') Search
            br
            h2 Search Result
            br
            br
            table.table.table
              thead
                tr
                  th Student ID
                  th Year
                  th Gender
                  th Student Name
                  th Since
                  th Email
                  th Telephone
              tbody
                each result in results
                  tr
                    td= result.sid
                    td= 2017-result.syear
                    td= result.gender
                    td= result.fname + ' ' + result.sname
                    td= result.district + ', ' + result.province
                    td= result.email
                    td= result.tel        
            

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="js/bootstrap.min.js")
