extends layout

block content
    link(href='/css/extends/starter-template.css', rel='stylesheet')
    body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .row
        .col-sm-6
          .col-sm-1
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='index') Database-Project
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                a(href='#') Site
              li
                a(href='about') About
        .col-sm-4
        .col-sm-2
          .col-sm-2
          .col-sm-10
            .collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='#') #{user_val}
    .container
      br
      br
      .row
        .col-sm-2
          nav.navbar.navbar-default.sidebar(role='navigation')
            .container-fluid
              ul.nav.navbar-nav
                li
                  a(href='index_staff')
                    | Home &nbsp; 
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-home(style='font-size:16px;')
                li
                  a(href='profile_staff')
                    | Profile &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-user(style='font-size:16px;')
                li      
                  a(href='#')
                    font(class="text-primary") | Report &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-stats(style='font-size:16px;' class="text-primary")
                li
                  a(href='search_info')
                    | Search &nbsp;  
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-search(style='font-size:16px;')
                li      
                  a(href='edit_record')  
                    | Edit Record &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-wrench(style='font-size:16px;')
                li
                  a(href='/logout')
                    | Logout &nbsp;
                    span.pull-right.hidden-xs.showopacity.glyphicon.glyphicon-log-out(style='font-size:16px;')
        .col-sm-10
          .container-fluid
            h1 Parent Information Report
            br
            br
            | You can generate an information report here.
            br
            br
            br
            br
            #accordion.panel-group
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
                      | Student Enrollment Database
                #collapse1.panel-collapse.collapse
                  .panel-body
                    form(method='post' action='/report_staff_e')
                      .row
                        .col-sm-2
                        .col-sm-3
                          h4 Student ID
                          input.form-control(type='text' name='input_e_sid' placeholder='10 digits')
                        .col-sm-2
                          h4 Year
                          select.form-control(name = 'input_e_eyear')
                            option All
                            option 2016
                            option 2015
                            option 2014
                        .col-sm-4
                          h4 Semester
                          .row
                            .col-sm-6
                              select.form-control(name = 'input_e_semester')
                                option All
                                option 1
                                option 2
                                option 3
                            .col-sm-3
                              button.btn.btn-md.btn-warning(type='submit') Search
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse2')
                      | Student Activity Database
                #collapse2.panel-collapse.collapse
                  .panel-body
                    form(method='post' action='/report_staff_a')
                      .row
                        .col-sm-4
                        .col-sm-4
                          .col-sm-12
                            h4 Student ID
                            .row
                              .col-sm-9
                                input.form-control(type='text' name='input_a_sid' placeholder='10 digits')
                              .col-sm-1
                              .col-sm-2
                                button.btn.btn-md.btn-warning(type='submit') Search
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse3')
                      | Parent Information 
                #collapse3.panel-collapse.collapse
                  .panel-body
                    form(method='post' action='/report_staff_p')
                      .row
                        .col-sm-4
                        .col-sm-4
                          .col-sm-12
                            h4 Student ID
                            .row
                              .col-sm-9
                                input.form-control(type='text' name='input_p_sid' placeholder='10 digits')
                              .col-sm-1
                              .col-sm-2
                                button.btn.btn-md.btn-warning(type='submit') Search
              .panel.panel-default
                .panel-heading
                  h4.panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse4')
                      | Internship Database
                #collapse4.panel-collapse.collapse
                  .panel-body
                    h4 By Company <font class='text-muted'>(List)</font>
                    form(method='post' action='/report_staff_ic')
                      .row
                        .col-sm-2
                        .col-sm-3
                          h4 Company ID
                          input.form-control(type='text' name='input_ic_cid' placeholder='10 digits')
                        .col-sm-4
                          h4 Company Name
                          .row
                            .col-sm-9
                              input.form-control(type='text' name='input_ic_cname' placeholder='Case-insensitive')
                            .col-sm-3
                              button.btn.btn-md.btn-warning(type='submit') Search
                    br
                    br
                    form(method='post' action='/report_staff_is')  
                      .row  
                        .col-sm-12
                          .row
                            .col-sm-4
                              h4 By Student <font class='text-muted'>(Personal)</font>
                            .col-sm-4
                              input.form-control(type='text' name='input_is_sid' placeholder='Student ID (10 digits)')
                            .col-sm-3
                              button.btn.btn-md.btn-warning(type='submit') Search
              .panel.panel-default
                .panel-heading
                  .panel-title
                    a(data-toggle='collapse', data-parent='#accordion', href='#collapse5')
                      | Course Database
                #collapse5.panel-collapse.collapse
                  .panel-body
                    form(method='post' action='/report_staff_c')
                      .row
                        .col-sm-4
                        .col-sm-4
                          .col-sm-12
                            h4 Course ID
                            .row
                              .col-sm-9
                                input.form-control(type='text' name='input_c_cid' placeholder='7 digits')
                              .col-sm-1
                              .col-sm-2
                                button.btn.btn-md.btn-warning(type='submit') Search
                                br
                                br                          
            br
            h2= 'Search Result : ' + results[0].sid
            br
            br
            each result,index in results
              h3(class='text-danger')= '#' + index+1 + ' '+ result.role
              .row
                .col-lg-3
                  h4 Citizen ID
                  input.form-control(type="text" value=result.ssn disabled)
                .col-lg-3
                  h4 First Name
                  input.form-control(type="text" value=result.fname disabled)
                .col-lg-3
                  h4 Last name  
                  input.form-control(type="text" value=result.sname disabled)
              br
              .row
                .col-lg-1
                  h4 Gender
                  input.form-control(type="text" value=result.gender disabled)
                .col-lg-2
                  h4 Birth Date
                  input.form-control(type="text" value=result.bdate2 disabled)
                .col-lg-8
                  h4 Address
                  input.form-control(type="text" value=result.houseno + ' ' + result.road + ', ' + result.subdistrict + ', ' + result.district + ', ' + result.province + ' ' + result.pcode disabled)
              br
              .row
                .col-lg-3
                  h4 Email Address
                  input.form-control(type="text" value=result.email disabled)
                .col-lg-3
                  h4 Phone No.
                  input.form-control(type="text" value=result.tel disabled)
            
                    

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src="js/bootstrap.min.js")
